.play-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.play-container button {
  border-radius: 10px;
  font-size: 19px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 59%;
}

.play-container h5 {
  margin: 10px;
}

.category-img {
  border-radius: 30px;
  margin: auto;
  margin-bottom: 5px;
  max-height: 180px;
  max-width: 180px;
}

.question-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.question-container h4 {
  color: #3a8ec5e1;
  margin: 10px;
}

.question-container p {
  margin-bottom: 0;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 62%;
}

.answer-options button {
  padding: 5px;
  width: 45%;
}

@media ( prefers-color-scheme : light ) {

  .play-container button {
    background-color: white;
    color: #333;
  }
}
