.play-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.play-container button {
  border-radius: 10px;
  font-size: 19px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 59%;
}

.category-img {
  border-radius: 30px;
  margin-left: 5px;
  max-height: 150px;
  max-width: 150px;
}

.category-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.category-container h5 {
  color: #3a8ec5e1;
  margin-right: 10px;
  margin-top: 20px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 62%;
}

.answer-options button {
  padding: 5px;
  width: 45%;
}

@media ( prefers-color-scheme : light ) {

  .play-container button {
    background-color: white;
    color: #333;
  }
}
