.topnav {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
.topnav p {
  color: #333;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}

.title-nav {
  align-items: center;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.text-container {
  align-items: center;
  display: flex;
}
