.topnav {
  align-items: center;
  border-bottom: 1px #333 solid;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.topnav p {
  align-items: center;
  color: #3a8ec5e1;
  font-size: 21px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.trivia-logo {
  max-height: 50px;
  max-width: 200px;
}

.text-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  max-width: 50px;
}
