.topnav {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.topnav p {
  align-items: center;
  color: #333;
  font-size: 19px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.title-nav {
  align-items: center;
  color: #333;
}

.text-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.topnav img {
  border-radius: 50%;
}
